form {
  display: flex;
}

form > button {
  background-color: #333;
  color: #fff;
  margin-left: 5px;
  padding: 2px 15px;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-right: 10px;

}  


.todo-type-selection > button {
  margin-top: 0.25rem;
  padding: 2px 4px;
  margin-left: 2px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.todo-form-wrapper {
  display: flex;
}

.selected-todo-type {
  background-color: darkcyan;
  color: #eee;
}

.timer-todo-text {
  /* max-width: 33%; */
}

.timer-todo-text > label {
  display: inline-block;
  overflow: hidden;
}


form > input {
  line-height: 1.5rem;
  transition: background-color 0.2s ease-in;
  font-size: 1.2rem;
  margin-left: 10px;
}

form > input:nth-child(1) {
  min-width: 100px;
  width: 90%;
}

.timer-time-controls {
  position: relative;
  bottom: 21px;
  height: 36.8px;
  overflow: visible;
}
.timer-time-controls > label, input {
  display: block;
}

.timer-time-controls > input {
  width: 60px;
  height: 36.8px;
  line-height: 1.5rem;
  font-size: 1.2rem;
}


@media (max-width: 850px) {
  .todo-form-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .todo-type-selection {
    margin-bottom: 5px;
  }
  .timer-time-controls {
    bottom: 19px;
  }
  .timer-time-controls > label {
    position: relative;
    top: 53px;
  }
}

@media (max-width: 850px) {
  .error-message {
    position: relative;
    right: 60px;
  }
}

@media (max-width: 500px) {
  .timer-time-controls {
    bottom: 16px;
  }
}